<!doctype html>
<html lang="ko">
	<%- include ("head.ejs") %>
<body>
  
 <div id="wrap" class="sub-wrap">
	<%- include ("header.ejs") %>
	<div id="container">
		<div class="section sub-container">
			<h2 class="sub-tt">스타트업인쇄소란?</h2>
			<div class="company-cont">
				<p>
					2019년 기준 국내 15만개 이상의 스타트업 기업이 Unicon 기업으로의 성장을 위해 도전하고 있습니다.<br>
					스타트업 기업은 조직적으로 중견/대기업의 다양한 기능을 보유 할 수 없는 것이 현실입니다.<br>
					이에 스타트업 인쇄소는 <br>
					1. 스타트업 기업의 마케팅, 영업, 시제품 제작에 필요한 다양한 인쇄물 관련 업무를 지원하고,<br>
					2. 전문성을 필요로하는 인쇄물의 최적 솔루션(디자인/가격/납기/퀄리티..)을 제공하고,<br>
					3. 함께 동반 성장 할 수 있는 생태계를 구축, 지원하기위해 약 1,200개의 인쇄 기업 DB를 활용, <br>
					스타트업 기업의 초기 성장 파트너로 함께하고자 합니다.<br>
					스타트업 기업의 성장 발전을 응원하는 Printing Platform이 되고자 합니다.<br>
					감사합니다.
				</p>
				<div class="company-img-area">
					<img src="../images/company-img1.png" alt="">
					<img src="../images/company-img2.png" alt="">
				</div>
			</div>
		</div>	
	</div>
	<%- include ("footer.ejs") %>
 </div>
 <%- include ("login.ejs") %>
 <%- include ("signup.ejs") %>
 <%- include ("message.ejs") %>
 <%- include ("inquiry.ejs") %> 


</body>
</html>
